.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    padding-bottom: 0px !important;
}

.ReactFlagsSelect-module_label__27pw9 {
    display: none !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7:after {
    display: none !important;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.ReactFlagsSelect-module_selectFlag__2q5gC{
    font-size: 2rem !important;
}       

.ReactFlagsSelect-module_selectValue__152eS{
    margin: 0px !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: rgba(0, 0, 0, 0.541) !important;
}
